:root {
    --main-color: #000000;
    
}


.logo p {
    color: #ffffff;
}


.about h1 {
    font-size: 50px;
}

.about p {
    font-size: 30px;
}

.about-img img {
    width: 100%;
}

.contact h1,
.projects h1,
.resume h1 {
    color: var(--main-color);
    font-size: 55px;
}


.projects {
    display: flex;
    flex-wrap: wrap;

}

.card {
    width: 46%;
    margin: 2%;
}

.resume img {
    width: 100%;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.type {
    width: 30%;
}


.proficiencies h2 {
    text-align: center;
}

.proficiencies p {
    text-align: center;
    margin: 15px;
}

@media(max-width: 600px) {
    .hero {
        height: 400px;
    }

   

    .about h1 {
        font-size: 30px;
    }

    .about p {
        font-size: 15px;
    }

    .contact h1,
    .projects h1,
    .resume h1 {
        font-size: 30px;
    }

    .card {
        width: 100%;
    }

    .type {
        width: 98%;
    }

    
}